@tailwind base;
@tailwind components;
@tailwind utilities;

.hide {
    display: none;
    position: relative;
}

.myDIV:hover + .hide {
    position: static;
    
  }

  .hide2 {
    
    display: none;
  }

  .myDIV2:hover + .hide2 {
    
    display: inside;
  }

  .card {
    position: "static";
    object-fit: contain;
    font-family: 'Space Mono', monospace;
    transition: 0.3s;
    background: transparent;
    width: 290px;
    border: 4px solid  rgb(0, 107, 63) ;
    border-radius: 10px;
    z-index: 2;
    margin: 0;
    padding: 0;
  }

  iframe {
    background: none;
    position: unset;
  }

  iframe:focus { 
    outline: none;
  }
  
  iframe[seamless] { 
    display: flex;
  }