@tailwind base;
@tailwind components;
@tailwind utilities;

.hide {
    display: none;
    position: relative;
}

.myDIV:hover + .hide {
    position: static;
    
  }

  .hide2 {
    
    display: none;
  }

  .myDIV2:hover + .hide2 {
    
    display: inside;
  }